{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

    <div class="container mt-5">
        <div class="text-center" style="color: #3f3e3e;">
            <h2>Account Settings</h2>
        </div>
        <br />
        <h4>Edit Username for: "{{ current_user.username }}"</h4>
        <form method="POST" action="/update-username">
            <div class="form-group">
                <label for="new_username">New Username:</label>
                <input type="text" 
                class="form-control" 
                id="new_username" 
                name="new_username" 
                placeholder="Enter new username"
                required>
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Save Username</button>
            </div>
            
        </form>
        <br />
        <br />

        <h4>Change Password</h4>
        <form method="POST" action="/update-password">
            <!-- Password change form here (old password, new password, confirm password) -->
            <div class="form-group">
                <label for="old_password">Old Password:</label>
                <input 
                type="password" 
                class="form-control" 
                id="old_password" 
                name="old_password" 
                placeholder="Enter current password"
                required>
            </div>
            <br />
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input 
                type="password" 
                class="form-control" 
                id="new_password" 
                name="new_password" 
                placeholder="Enter new password"
                required>
            </div>
            <br />
            <div class="form-group">
                <label for="new_password">Confirm New Password:</label>
                <input 
                type="password" 
                class="form-control" 
                id="new_password2" 
                name="new_password2" 
                placeholder="Type new password again"
                required>
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <button type="submit" 
                class="btn btn-primary">Save New Password
                </button>
            </div>
        </form>
        <br />
        <br />

        <div class="form-group">
            <div class="d-flex justify-content-center">
                <button type="submit" 
                    class="btn btn-danger">Delete Account
                </button>
            </div>
        </div>
        <br />
        <br />
            <!-- Delete account confirmation form here -->
        </form>
    </div>

{% endblock %} 