{% extends "base.html" %}
{% block title %}Confirmation{% endblock %}
{% block content %}
    <h3>Are you sure you want to delete your account?</h3>
    <p><b>WARNING:</b> This action cannot be undone!</p>
    <br />
    <form method="POST" action="/confirm-delete">
        <button 
            type="submit" 
            name="confirm" 
            value="yes"
            class="btn btn-outline-danger m-3"
            >Yes
        <button 
            type="submit"
            name="confirm" 
            value="no"
            class="btn btn-outline-secondary" 
                       
            >No            
        </button>
    </form>

{% endblock %}  


